<section class="section">
<div class="section__content">
<h2 class="section__title">Offres Similaires</h2>
<sgc-card-component type="CDD" title="International Marketing Project Manager H/F" localization="Brazzaville"></sgc-card-component>
<sgc-card-component type="CDI" title="Contrôleur de Gestion Sociale H/F" localization="Pointe Noire"></sgc-card-component>
<sgc-card-component type="CDD" title="Conseiller Clientèle BtoB, H/F, CDD" localization="Pointe Noire"></sgc-card-component>

</div>

</section>
