<table class="candidature-table">
  <thead>
    <tr>
      <th><h5># DE L'OFFRE</h5></th>
      <th><h5>INTITULE DE L'OFFRE</h5></th>
      <th><h5>DATE DE LA CANDIDATURE</h5></th>
      <th><h5>STATUT DE LA CANDIDATURE</h5></th>
    </tr>
  </thead>
  <tbody>
    @for (candidature of candidatures; track candidature.intitule; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ candidature.intitule }}</td>
        <td>{{ candidature.date }}</td>
        <td [ngClass]="{
          'status-in': candidature.statut === Status.Wait,
          'status-accepted': candidature.statut === Status.Yes,
          'status-rejected': candidature.statut === Status.No
        }">
          {{ candidature.statut }}
        </td>
      </tr>
    }
  </tbody>
</table>
