<table class="candidature-table">
                <thead>
                <tr>
                    <th><h5># DE L'OFFRE</h5></th>
                 <th><h5>INTITULE DE L'OFFRE</h5></th>
                        <th><h5>DATE DE LA CANDIDATURE</h5></th>
                        <th><h5>STATUT DE LA CANDIDATURE</h5></th>
                </tr>
                </thead>
                                <tbody>
                    <tr>
                        <td>3234</td>
                        <td>Chef de service département</td>
                        <td>13/03/2018</td>
                        <td class="status in">En cours de traitement</td>
                    </tr>
                    <tr>
                        <td>3237</td>
                        <td>Contrôleur de Gestion</td>
                        <td>11/09/2018</td>
                        <td class="status rejected">Rejetée</td>
                    </tr>
                    <tr>
                        <td>3237</td>
                        <td>Gestionnaire carrière</td>
                        <td>08/06/2016</td>
                        <td class="status accepted">Acceptée</td>
                    </tr>
                </tbody>
            </table>
