// contact-part.component.scss

#container__third_section {
  background-color: #F5F7F9;
  padding: 1em;
  margin-left: -2em;
  margin-right: -2em;
}

.container__contact {
  line-height: 1.5;
  background-color: #F5F7F9;
  padding: 2em;
  font-weight: bold;

  h5 {
    color: #C8CDD3;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
