            <nav class="nav-header">
                <div class="nav-header__home-icon">
                    <img alt="home-icon" src="/assets/img/svg/Shape.svg">
                </div>
                <div class="nav-header__nav-item"><h5 class="nav-header__nav-item-text"> OFFRES DISPONIBLES</h5></div>
                <div class="nav-header__nav-item"><h5 class="nav-header__nav-item-text"> VOS CANDIDATURES</h5></div>
                <div class="nav-header__nav-item"><h5 class="nav-header__nav-item-text"> VOTRE CV</h5></div>
                <div class="nav-header__nav-item"><h5 class="nav-header__nav-item-text"> PARAMETRES</h5></div>
            </nav>
